body{
    margin: 0;
    padding: 0;
}
#header{
    background-color: brown;
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}
#header h1{
    font-size: larger;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
}
a:hover{
    text-decoration:underline ;
   color: rgb(221, 96, 96);
}
#products{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail h1{
    color: white;
    font-size: large;
}
.detail p{
    color: rgb(196, 190, 190);
}
button{
    background-color: white;
    width: 150px;
    height: 50px;
    border: black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
button:hover{
    background-color: gray;
    color: white;
}
#products img{
    width: 400px;
    height: 400px;
}
.product1{
    background-color: brown;
    width: 400px;
    height: 550px; 
    border-radius: 10px; 
}
.product2{
    background-color: brown;
    width: 400px;
    height: 550px;
    border-radius: 10px;   
}
.product3{
    background-color: brown;
    width: 400px;
    height: 550px; 
    border-radius: 10px;  
}
#footer{
    background-color: brown;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}
.links{
    display: block;
    gap: 20px;
}
.links2 a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
}
.links3 a{
    color: white;
    text-decoration: none;
    font-size: larger;
    margin-right: 20px;
}
a:hover{
    color: rgb(221, 96, 96);
}
.copyright p{
    background-color: gray;
    color: white;
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
